<!DOCTYPE html>
<html>
<head>
  <title>WebRTC/PeerJS Audio Chat</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="wrapper overview">
    <h1>WebRTC/PeerJS Audio Chat</h1>
    
    <p>
      <br><br>
      <a href="/new">Start a call</a>
    </p>
  </div>

</body>
</html>